/* Basic reset to ensure consistent styling across browsers */
body,
h1,
p,
select,
input,
button,
canvas {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full height for the body to center content vertically */
html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    
}


/* Center content vertically and horizontally */
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100vw; /* Ancho completo del viewport */
    height: 100vh; /* Alto completo del viewport */
}

/* Styling for the container */
.container {
    background-color: hsla(225, 96%, 49%, 0.788);
    padding: 2rem;
}

/* Styling for file input and dropdowns */
input[type="file"],
select {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;

}

/* Checkbox styling */
.form-check {
    margin: 10px 0;
}

/* Styling for the canvas */
canvas {
    border: 1px dotted rgb(239, 229, 229);
    width: 512px;
    height: 512px;
    margin: 10px 0;
    border-radius: 12px;
    background: url('Images/add-image.png') no-repeat center center; /* Agrega la ruta de tu imagen aquí */
    background-size: cover; /* Ajusta la imagen al tamaño del canvas */
}

/* Styling for the button group */
.button-group {
    display: flex;
    gap: 10px; /* Space between buttons */
    justify-content: center; /* Center the buttons */
    width: 512px; /* Ensure the button group matches the width of the canvas */
    margin: 10px 0;
}

/* Styling for buttons */
button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    flex: 1; /* Ensure buttons take equal space */
}

/* Button colors */
#uploadImageButton {
    background-color: #007bff;
}

#downloadButton {
    background-color: #6c757d;
    border-radius: 12px;
    height: 50px;
    width: 300px;

}

/* Button hover effects */
button:hover {
    opacity: 0.9;
}

/* Disable state for dropdowns */
select:disabled {
    color: #888;
}

/* Text color adjustment for white text */
h1,
p,
.form-check-label {
    color: white;
    font-family: 'Roboto', sans-serif;

}

.logo {
    position: fixed; /* El logo se mantendrá fijo en la pantalla */
    top: 0; /* Alinea el logo con la parte superior de la ventana del navegador */
    left: 0; /* Alinea el logo con el lado izquierdo de la ventana del navegador */
    padding: 10px; /* Agrega espaciado alrededor del logo */
    z-index: 1000; /* Asegura que el logo esté por encima de otros elementos */
    color: white;
    font-size: 1.5rem;
}

.logo img {
    max-width: 190px; /* Ancho máximo del logo, se ajusta según el tamaño de la pantalla */
    height: auto; /* Mantiene la proporción de la imagen */
}


.custom-select{
    border-radius: 12px;
    height: 50px;
    width: 370px !important;

}